.avertissement {
    color:red;
    font-size:large;
    font-weight:bold;
    font-variant:small-caps
 }
 .gris{
    background-color: grey; border:solid 1px white; padding-top:15px; padding-bottom:15px;}

#editableNoteName {
   border: 1px solid #ccc;
   padding: 10px;
   cursor: pointer;
}

.note {
   background-color: #f9f9f9;
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 20px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   display: inline-block;
   border-bottom: 1px solid #ccc; /* Add a bottom border to each note */
   padding-bottom: 10px; /* Add some padding to the bottom of each note */

}

.note-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 10px;
}

.login {
   margin: 0;
}

.name {
   margin: 0;
   text-align: center;
   flex-grow: 1; /* Expand to fill available space */
}


/*.myform{*/
/*   max-width: 100%;*/
/*   box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);*/
/*   padding: 2em;*/
/*   color:#fff;*/
/*   @media (max-width: 576px) {*/
/*      max-width: 90%;*/
/*      margin: 0px auto;*/
/*   }*/
/*}*/

.modal-body{
   padding: 0px;
}

.editor_bar {
   background-color: lightgray;
   width: 500px;
   height: 300px;
}

.btn-close{
   position: absolute;
   right: 0;
   padding: 1em;
}

.modal-content{
   width: 80%;
   margin: 0px auto;
}

.h1{
   font-size: 2.3em;
   font-weight: bold;
}

.form-control{
   background-color: inherit;
   color: #fff;
   padding-left: 0px;
   border: 0px;
   border-bottom: 1px solid #fff;
}

.myform .btn{
   width: 100%;
   background-color: #fff;
   font-weight: 800%;
   border-radius: 0;
   padding: 0.5em 0;
}

.myform .btn1{
   width: 0%;
   font-weight: 0%;
   border-radius: 0;
   color: blue;
   padding: 0;

}

.myform .btn:hover{
   color: #333;
}

p a {
   color: #e1e1e1;
   text-decoration: none;
}

p{
   text-align: center;
   padding-top: 2em;
   color: grey;
}

p a:hover{
   color:blue;
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 6 avr. 2014, 22:12:35
    Author     : olivierserre
*/

@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

.center{
   text-align: center;
   background-color: yellow;
}

.rouge{
   background-color: red;
}

.gris{
   background-color: grey;
}


.jaune{
   background-color: yellow;
}

.fondGris{
   background-color: grey;
   padding:10px;
}

.equipe {
   background-color: #ffffc8;
   padding-right: 15px;
   padding-left: 15px;
}

.equipe [class*="col-"]{
   padding-top: 20px;
   margin-bottom: 20px;
   text-align: center;
}
.equipe h3 {
   font-weight: normal;
}
.equipe .col-lg-4 p {
   margin-right: 10px;
   margin-left: 10px;
}

.fc-button {
 display: none !important;
}

.with-border {
   border-bottom: 1px solid #ccc;
}



.temoignage {
   margin-top: 50px;
   padding-right: 15px;
   padding-left: 15px;
}

.cours {
   margin-top: 50px;
   padding-right: 15px;
   padding-left: 15px;
}

.temoignage p{
   font-family: 'Shadows Into Light', cursive;
   font-size: x-large;
}

.lignegauche{
   border-left: 2px solid lightgrey;
   padding-left:12px
}
